@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h2>About me</h2>
  </div>
  </header>

  <div>
    <img src="/images/shane_bust.jpg" width="150"/>
    <p>Developer and Enthusiast with an affinity towards TFS/ALM and Dynamics CRM with a healthy serving of Windows Phone. The secret is always in the awesome sauce!</p>
  </div>
