@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h2>About me</h2>
  </div>
  </header>

  <div class="post">
    <img src="/images/shane_bust.jpg" width="150" class="fig-a"/>
    <p>Developer and Enthusiast with an affinity towards TFS/ALM and Dynamics CRM with a healthy serving of Windows Phone. The secret is always in the awesome sauce!</p>

    <h3>Contact Me</h3>
    <div class="contactme">
      <a href="http://lk.linkedin.com/pub/shane-carvalho/29/328/77"><i class="fa fa-linkedin fa-3x"></i></a>
      <a href="http://shanec-.github.com"><i class="fa fa-github-alt fa-3x"></i></a>
      <a href="http://twitter.com/shanec_"><i class="fa fa-twitter fa-3x"></i></a>
    </div>
  </div>
