@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h2>About me</h2>
  </div>
  </header>

  <div class="post">
    <img src="/images/shane_bust.jpg" width="150" class="fig-a"/>
	<h2>Shane Carvalho</h2>
    <p>I am a developer and enthusiast with an affinity towards Microsoft Dynamics CRM and Application Lifecycle Management using Visual Studio Team Services. This blog aims to document my adventures (and failures) working with different systems and technology in general.</p>

	<h3>Previous Blog</h3>
	<div class="contactme">
		<a href="http://nullfactory.blogspot.com">http://nullfactory.blogspot.com</a>
	</div>

    <h3>Contact Me</h3>
    <div class="contactme">
      <a href="https://au.linkedin.com/in/shanecarvalho"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="http://github.com/shanec-"><i class="fa fa-github-alt fa-2x"></i></a>
      <a href="http://twitter.com/shanec_"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
  </div>
