@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div>

    <p>Developer and computer enthusiast with an affinity towards Dynamics CRM and Windows Phone.</p>

  </div>
